<div class="tab-pane fade in active" id="experiences">

    {{ render(controller('AppBundle:Candidat:showCVExperience')) }}

</div>

<div class="tab-pane fade" id="formations">

    {{ render(controller('AppBundle:Candidat:showCVFormation')) }}

</div>

<div class="tab-pane fade" id="projets">

    {{ render(controller('AppBundle:Candidat:showCVProjet')) }}

</div>
