{% trans_default_domain 'AppTranslat' %}
{% if user.apropos is not null %}
    <!-- Daily stats -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-info">Informations Générales</h6>
            <div class="heading-elements">
                <a href="#add-new-apropos" data-toggle="tab"><i class="icon-cog text-info"></i></a>
            </div>
        </div>

        <div class="panel-body">
            <p>{{ user.apropos.description }}</p>
        </div>
    </div>
    <!-- /daily stats -->

    <!-- Share your thoughts -->
    <div id="add-new-apropos" class="tab-pane fade">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title text-info">Informations Générales</h6>
                <div class="heading-elements">
                </div>
            </div>

            <div class="panel-body">
                {{ render(controller('AppBundle:Recruteur:addApropos')) }}
            </div>
        </div>
    </div>
{% else %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-info">Informations Générales</h6>
            <div class="heading-elements">
            </div>
        </div>

        <div class="panel-body">
            {{ render(controller('AppBundle:Recruteur:addApropos')) }}
        </div>
    </div>
    <!-- /share your thoughts -->
{% endif %}
