{% trans_default_domain 'AppTranslat' %}
<!-- Daily stats -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-info">Informations Générales</h6>
        <div class="heading-elements">
            <a href="#" class="heading-text"><i class="icon-cog text-info"></i></a>
        </div>
    </div>

    <div class="panel-body">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
            mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
            l'imprimerie depuis les années 1500, quand un peintre anonyme assembla
            ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
            texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à
            la bureautique informatique, sans que son contenu n'en soit modifié. Il a
            été popularisé dans les années 1960 grâce à la vente de feuilles Letraset
            contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion
            dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
    </div>

</div>
<!-- /daily stats -->


<!-- Share your thoughts -->
<div class="panel panel-flat">
    <div class="panel-body">
        <form action="#">
            <div class="form-group">
                                                <textarea name="enter-message" class="form-control mb-15" rows="3"
                                                          cols="1"
                                                          placeholder="Qu'est-ce qui préoccupe votre esprit?"></textarea>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <ul class="icons-list icons-list-extended mt-10">
                        <li>
                            <a href="#" data-popup="tooltip" title="Add photo"
                               data-container="body"><i class="icon-images2"></i></a>
                        </li>
                        <li>
                            <a href="#" data-popup="tooltip" title="Add video"
                               data-container="body"><i class="icon-film2"></i></a>
                        </li>
                        <li>
                            <a href="#" data-popup="tooltip" title="Add event"
                               data-container="body"><i class="icon-calendar2"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 text-right">
                    <button type="submit"
                            class="btn btn-primary btn-labeled btn-labeled-right">
                        Save <b><i class="icon-circle-right2"></i></b></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /share your thoughts -->