{% extends 'base.html.twig' %}

{% block body %}<!-- Content area -->
    <div class="content">

        <!-- Search field -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Chercher des Candida</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <form action="#" class="main-search">
                    <div class="input-group content-group">
                        <div class="has-feedback has-feedback-left">
                            <input id="chercher_candidat_val" type="text" class="form-control input-xlg"
                                   placeholder="Limitless interface kit">
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-muted text-size-base"></i>
                            </div>
                        </div>

                        <div class="input-group-btn">
                            <a id="chercher_candidat_btn" class="btn btn-primary btn-xlg">Chercher</a>
                        </div>
                    </div>

                    <div class="row search-option-buttons">
                        <div class="col-sm-6">
                            <ul class="list-inline list-inline-condensed no-margin-bottom">
                                <li>
                                    <button type="reset" class="btn btn-link">
                                        <i class="icon-reload-alt position-left"></i>
                                        Réinitialiser votre recherche
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 text-right">
                            <ul class="list-inline no-margin-bottom">
                                <li><a href="#" class="btn btn-link"><i class="icon-menu7 position-left"></i>
                                        Advanced search</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /search field -->

        <!-- Search results best-->
        <div class="content-group">
            <p class="text-size-small text-uppercase text-semibold text-muted mb-10"></p>

            <div class="search-results-list">
                <div class="row">
                    <div id="result_recerche"></div>
                </div>
            </div>
        </div>
        <!-- /search results best -->


        {#
                <!-- Search results -->
                <div class="content-group">
                    <div class="search-results-list">
                        <div class="text-size-small text-uppercase text-semibold text-muted mb-10">Autre Candidat</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face1.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">James Alexander</h6>
                                            <span class="text-muted">Lead developer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face2.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Nathan Jacobson</h6>
                                            <span class="text-muted">Lead UX designer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face3.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Margo Baker</h6>
                                            <span class="text-muted">Sales manager</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face4.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Barbara Walden</h6>
                                            <span class="text-muted">SEO specialist</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face11.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Hanna Dorman</h6>
                                            <span class="text-muted">UX/UI designer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face14.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Benjamin Loretti</h6>
                                            <span class="text-muted">Network engineer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face13.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Vanessa Aurelius</h6>
                                            <span class="text-muted">Front end guru</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face8.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">William Brenson</h6>
                                            <span class="text-muted">Chief officer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face6.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Lucy North</h6>
                                            <span class="text-muted">PHP developer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face16.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Vicky Barna</h6>
                                            <span class="text-muted">UI designer</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face25.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Hugo Bills</h6>
                                            <span class="text-muted">Sales manager</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-body">
                                    <div class="media">
                                        <a href="#" class="media-left">
                                            <img src="assets/images/demo/users/face22.jpg" class="img-circle img-lg"
                                                 alt="">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading">Tony Gurrano</h6>
                                            <span class="text-muted">CEO and founder</span>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                                class="icon-menu7"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#"><i
                                                                        class="icon-comment-discussion pull-right"></i>
                                                                Start chat</a></li>
                                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a
                                                                call</a>
                                                        </li>
                                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-statistics pull-right"></i>
                                                                Statistics</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Pagination -->
                    <div class="text-center content-group pt-20">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&larr;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><span>...</span></li>
                            <li><a href="#">58</a></li>
                            <li><a href="#">59</a></li>
                            <li><a href="#">&rarr;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <!-- /search results -->#}


    </div>
    <!-- /content area -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var searchRequest = null;
            $("#chercher_candidat_btn").click(function () {
                var minlength = 3;
                var value = $("#chercher_candidat_val").val();
                var entitySelector = $("#result_recerche").html('');

                if (value.length >= minlength) {
                    if (searchRequest !== null) {
                        searchRequest.abort();
                    }

                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('chercher_candidat') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",

                        success: function (msg) {
                            console.log(msg);
                            var result = JSON.parse(msg);
                            var verif = '';
                            var values = '';

                            if (result.length !== 0) {
                                $.each(result, function (key, arr) {
                                    console.log(arr['id']);
                                    entitySelector.append(
                                        '<div class="col-lg-3 col-sm-6">' +
                                        '<div class="thumbnail">' +
                                        '<div class="thumb thumb-rounded">' +
                                        '<img src="images/demo/users/face1.jpg" alt="">' +
                                        '<div class="caption-overflow">' +
                                        '<span>' +
                                        '<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5">' +
                                        '<i class="icon-link2"></i></a>' +
                                        '</span>' +
                                        '</div>' +
                                        '</div>' +

                                        '<div class="caption text-center">' +
                                        '<h6 class="text-semibold no-margin"> ' + arr['username'] + ' ' +
                                        '<small class="display-block">' + arr['domaine'] + '</small>' +
                                        '</h6>' +
                                        '<ul class="icons-list mt-15">' +
                                        '<li><a href="#" data-popup="tooltip" title="Github">' +
                                        '<i class="icon-github"></i></a></li>' +
                                        '<li><a href="#" data-popup="tooltip" title="Facebook">' +
                                        '<i class="icon-facebook2"></i></a></li>' +
                                        '<li><a href="#" data-popup="tooltip" title="Twitter">' +
                                        '<i class="icon-twitter"></i></a></li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                    )
                                    ;
                                });
                            } else {
                                entitySelector.append(
                                    '<div>Aucun résultat</div>'
                                );
                            }

                        }
                    });
                }
            })
        });
    </script>
{% endblock %}