<div class="tab-content panel-body">
    <div class="tab-pane fade in active" id="basic-tab1">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post"
              class="form-validate-login">
            <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300">
                    <i class="icon-reading"></i></div>
                <h5 class="content-group">Connectez-vous à votre compte</h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control" placeholder="Username" name="_username"
                       value="{{ last_username }}" required="required">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="password" class="form-control" placeholder="Password" name="_password"
                       required="required">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>

            <div class="form-group login-options">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled" checked="checked"
                                   name="_remember_me">
                            Remember
                        </label>
                    </div>

                    <div class="col-sm-6 text-right">
                        <a href="#" data-toggle="modal" data-target="#modal-recover">Forgot
                            password?</a>
                    </div>
                </div>
            </div>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn bg-blue btn-block">Login
                    <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </form>

        <div class="content-divider text-muted form-group"><span>Ou connectez-vous avec</span></div>
        <ul class="list-inline form-group list-inline-condensed text-center">
            <li>
                <a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i
                            class="icon-facebook"></i></a>
            </li>
            <li><a href="#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i
                            class="icon-google-plus"></i></a>
            </li>
            <li>
                <a href="#"
                   class="btn border-slate-600 text-slate-600 btn-flat btn-icon btn-rounded"><i
                            class="icon-github"></i></a>
            </li>
            <li>
                <a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i
                            class="icon-linkedin"></i></a>
            </li>
            <li>
                <a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i
                            class="icon-twitter"></i></a>
            </li>
        </ul>
    </div>


    <!-- Password recovery form -->
    <div id="modal-recover" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content login-form">

                <!-- Form -->
                <form class="modal-body" action="#">
                    <div class="text-center">
                        <div class="icon-object border-warning text-warning">
                            <i class="icon-spinner11"></i></div>
                        <h5 class="content-group">Récupération de mot de passe </h5>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Your email">
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>
                    </div>

                    <button type="submit" class="btn bg-blue btn-block">Réinitialiser le mot de
                        passe
                        <i class="icon-circle-right2 position-right"></i></button>
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                        Annuler
                    </button>
                </form>
                <!-- /form -->

            </div>
        </div>
    </div>
    <!-- /password recovery form -->
</div>
