{% for pro in projet %}
    <!-- formations -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-location4 position-left"></i>
                <a class="text-info" href="#">{{ pro.titre }}</a>
            </h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            {% if pro.description != '' %}
                <div class="schedule">
                    <blockquote>
                        <p>{{ pro.description }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /formations -->
{% endfor %}